%% -*- mode:erlang -*-
{erl_opts, [debug_info]}.

{deps,
 [ {map_sets, {git, "https://github.com/k32/map_sets.git", {tag, "0.1.0"}}}
 ]}.

{profiles,
 [ {test, [{deps, [ {proper, "1.2.0"}
                  , {bear, "0.8.7"}
                  ]}]}
 ]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{compiler_source_format, absolute}.
