%% -*- mode:erlang -*-
{plugins, [coveralls]}.
{erl_opts, [debug_info]}.
{compiler_source_format, absolute}.

{deps,
 [ {map_sets, {git, "https://github.com/k32/map_sets.git", {tag, "0.1.0"}}}
 ]}.

{profiles,
 [ {test, [{deps, [{proper, "1.2.0"}]}]}
 ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_print_enabled, true}.
{coveralls_coverdata, "_build/test/cover/eunit.coverdata"}.
{coveralls_service_name, "travis-ci"}.
